---
layout: default
title: Upgrade to Enterprise Edition
description: "GitLab Enterprise Edition includes advanced features and functionality not available in the Community Edition."
canonical_path: "/upgrade/"
suppress_header: true
extra_css:
  - installation.css
extra_js:
  - installation.js
  - libs/clipboard.min.js
  - bootstrap-tooltip.js
  - copy-button.js
---
.container.container2020.slp-container.header-content
  .col-md-5
    %h1
      Upgrade to Enterprise Edition
  .col-md-7
    %p
      GitLab Enterprise Edition includes advanced features and functionality not available in the Community Edition. An Enterprise Edition license is needed to enable these features. If you do not have a license,
      = succeed "." do
        = link_to "start a free trial", "https://about.gitlab.com/free-trial/", target: "_blank", rel: "noopener noreferrer nofollow"
      If a license is not uploaded, or expires, it will operate as Community Edition.

.container.container2020.slp-container.border-divider
  %p
    Upgrading is as easy as installing the Enterprise Edition package. You can downgrade if desired at any time, by re-installing the Community Edition package. There are no database schema differences between the two editions.

#content
  .cards-section
    .container{role: "main"}
      .method.official
        .method-content
          %ul.flex-tile-list
            - data.upgrade_methods.official.each do |method|
              %a.tile.js-distro-tile{href: method.url}
                .tile-image
                  = partial method.logo
                %h4.tile-title
                  = method.name
                %p
                  = method.desc

