## Single-Engineer Groups

We set [big hairy audacious goals](https://about.gitlab.com/company/mission-and-vision/#big-hairy-audacious-goal) 
that may take a long time to deliver. Because of this, we leverage [Single-Engineer Groups](https://about.gitlab.com/company/team/structure/#single-engineer-groups) to adequately explore a new space, build rapid Interactions, and
grow a community around the problem space. Below is a list of areas where we are putting some longer
term bets.

<%= wishlist["#{label}"] %>
